/* latin */
@font-face {
	font-family: "Inknut Antiqua";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/Inknut-Antiqua/Medium.woff2) format("woff2");
}
/* latin */
@font-face {
	font-family: "Inknut Antiqua";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(/fonts/Inknut-Antiqua/Black.woff2) format("woff2");
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Lato/Regular.woff2) format("woff2");
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/Lato/Medium.woff2) format("woff2");
}
/* EmojiOne */
@font-face {
	src: url(/fonts/emojione-svg.woff2) format("woff2");
	font-family: "EmojiOne";
}
