@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: Lato, Roboto, Ubuntu, Noto Sans, Verdana, Geneva, Tahoma,
		sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	text-transform: uppercase;
}

.emoji {
	font-family: "EmojiOne", ui-emoji;
}

.fa-telegram {
	color: #40b3e0;
}
.fa-discord {
	color: #5865f2;
}
